In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
this_df = pd.read_csv('new_cars.csv')
this_df.head()

,Users,Maruti XL6,Maruti Celerio X,Maruti Swift Dzire Tour,Bajaj Qute (RE60),Ford Aspire,Lamborghini Huracan EVO,Nissan Kicks,Ford Freestyle,Lamborghini Urus,...,Toyota Yaris,MG Hector Plus,Toyota Camry,Volkswagen Vento,Kia Sonet,MG ZS EV,Toyota Innova Crysta,New Skoda Superb,MG Gloster,MG Hector
0,User1,2.5,4.5,3.5,5.0,5.0,4.5,4.5,4.0,4.5,...,4.0,5.0,5.0,4.5,5.0,4.5,4.5,4.5,4.5,4.5
1,User2,5.0,4.5,4.0,5.0,4.5,4.5,4.5,4.5,4.0,...,1.0,4.5,4.0,3.5,5.0,3.5,3.5,5.0,5.0,4.5
2,User3,4.5,4.5,5.0,4.5,4.5,3.5,2.5,4.0,5.0,...,5.0,4.5,5.0,5.0,5.0,2.5,4.5,4.5,5.0,5.0
3,User4,4.5,5.0,3.5,2.0,5.0,5.0,5.0,5.0,4.5,...,4.5,1.0,5.0,4.5,5.0,2.5,5.0,5.0,5.0,5.0
4,User5,4.5,5.0,3.5,5.0,4.0,5.0,3.5,5.0,4.0,...,4.5,2.5,5.0,4.0,4.5,4.5,4.5,5.0,5.0,3.5

In [5]:
def top_five_cars(car):
    
    clicked_car = car
    # default input
    desired_car_user_rating=this_df[clicked_car]
    # desired_car_user_rating.head()
    
    similar_to_selected_car=this_df.corrwith(desired_car_user_rating)
    corr_selected_car = pd.DataFrame(similar_to_selected_car, columns=['Correlation'])
    # corr_selected_car.dropna(inplace=True)
    # corr_selected_car.head()
    
    corr_selected_car.sort_values(by='Correlation', ascending=False).head(10)
    new_df = corr_selected_car.nlargest(10,'Correlation')
    # new_df.head()
    
    final_list = list(new_df.index)[:6]
    final_list.remove('Ford Aspire')
    return final_list

In [7]:
# car_clicked = input(),          here input will be car clcked by user
# deafult input
car_clicked = 'Ford Aspire'
cars = top_five_cars(car_clicked)
print("You may also like : \n", cars)

You may also like :
 ['Porsche 718', 'Volvo XC90', 'Mahindra Marazzo', 'Chevrolet Tavera 2012-2017', 'Mercedes-Benz GLE']